.header__title {
    font-family: OpenSans;
    font-weight: bold;
    font-size: 120px;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 125px;
}


@media screen and (max-width: 320px) {
    .header__title{
        padding-top: 45px;
        max-width: 320px;
    }
}